body{
    background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
}

/* Campo aonde estarão todas as mensagens */
#chat{
    display:none;
}

.nomeUser{
    color: rgb(9, 9, 121);
    font-size: 18px;
    font-weight: bold;
}




#pegaUser{
    width: 99vw;
    height: 99vh;
    border: 1px solid black;
    align-items: center;
    display: flex;

}


@media screen and (max-width: 800px) {
    #send-User{
        display : block;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 60%;
        height: 50%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 12px;
        font-size: 16px;
    }
  }

  
@media screen and (min-width: 800px) {
    #send-User{
        display : block;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 40%;
        height: 40%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 12px;
        font-size: 16px;
    }
  }


  @media screen and (min-width: 1200px) {
    #send-User{
        display : block;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 30%;
        height: 40%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 12px;
        font-size: 16px;
    }
  }

  @media screen and (min-width: 1500px) {
    #send-User{
        display : block;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 20%;
        height: 40%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 12px;
        font-size: 16px;
    }
  }


#titleUser{
    font-size: 22px;
    margin-bottom: 22px;
    margin-top: 22px;
}

#name-input{
    font-size: 26px;
    width: 100%;
    margin-bottom: 22px;
    margin-top: 22px;
    border: 0px;
    border-radius: 12px;
    box-shadow: inset 0 0 2px gold, 0 0 2px red;
    background-color: #f2f8ed;
    outline: none;
}
#user-button{
    font-size: 26px;
    width: 100%;
    height:40px;
    border: 0px;
    border-radius: 12px;
    box-shadow: inset 0 0 2px gold, 0 0 2px red;
    background-color: #f2f8ed;
}



#message-container {
    width: 98vw;
    height: 90vh;
    overflow: auto;
    background-color: #e5ddd5;
    border: 1px solid #dbdbd4;
    padding-bottom: 15px;
  }

  /* Area da formatação das mensagens */
  .newMessage{
    background-color: rgb(255, 255, 255);
    max-width: 95%;
    padding: 5px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 12px;
    padding-left: 8px;
    box-shadow: inset 0 0 1px gold, 0 0 1px red;
    font-size: 18px;
  }
  .minhaMessage{
    background-color: #dcf8c6;
    max-width: 95%;
    padding: 5px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 12px;
    padding-left: 8px;
    box-shadow: inset 0 0 1px gold, 0 0 1px red;
    font-size: 16px;

  }

.conectar{
    background-color: #ededed;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    margin: 0 auto;
    margin-top: 2px;
    padding-left: 8px;
    text-align: right;
    box-shadow: inset 0 0 1px gold, 0 0 1px red;
    font-size: 16px;
}


.hora{
     
    font-size: 10px;
    color: blue;
}

/* Fim Area da formatação das mensagens */

/* Area do formulario de envio das mensagens */
  #send-container {
    
    margin: 15px;
    width: 97vw;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
    width: 500px;
    border: 0px;
    border-radius: 12px;
    margin-right: 10px;
    font-size: 18px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  #send-button{
    width: 100px;
    height: 40px;
    margin: 0;
    padding: 2px;
    background-color: #fff;
    border: 0px;
    border-radius: 12px;
    font-size: 18px;
  }

/* Fim da Area do formulario de envio das mensagens */
